body{
	box-sizing: border-box;
	margin:0;
	padding:0;
	color:rgb(2, 17, 41);
	font-family: 'Montserrat', sans-serif;
	height:100%;
}
h1{
	font-family: 'Montserrat', sans-serif;
	letter-spacing: .01em;
	margin:0 0 2em;
	text-align: center;
}
h4{
	font-family: sans-serif;
	letter-spacing: .1em;
	text-align: center;
	text-transform: uppercase;
	padding-top:1em;
}
hr{
	margin:3em 0 5em;
}
p{
	font-family: 'Lora', serif;
	line-height: 1.4em;
	font-size: .9em;
}
a:link{
	color:darkcyan;
	text-decoration: none;
}
a:visited{
	color:darkcyan;	
}
a:hover{
	color:darksalmon;
	text-decoration: underline;
}
.wrapper{
	width:70%;
	margin:0 auto;
	padding: 4em 0;
}
.icons {
	list-style-type: none;
	font-size: 3em;
	text-align:center;
}
ul{
	padding:0;
}
li{
	display:inline-block;
	padding:0 .3em;
}




